html, body{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

.section-1 {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("./images/hero.jpg");
  background-size: cover;
  border-bottom:0.5rem solid rgb(34,34,34);
}

.header {
  padding-top: 2rem; 
  padding-left: 2.5rem;
  padding-right:2.5rem;
  padding-bottom: 7rem;
}
.netflix-logo {
  fill: #e50914; 
    width: 9rem;
}

.sign-in {
  color: #fff;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #e50914;
  float: right;
  border: red;
  border-radius: 3px;
  line-height: normal;
  padding: 7px 17px;
}

h1, h3, h5{
   font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
   text-align: center;
}

h1 {
  font-family: Netflix Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

h3{
  font-weight: 300;
  font-size: 1.8rem; 
}
.section-1 h1{
padding-top: 3rem;
font-size: 3.4rem;
line-height: 1;
color: white;
}
.section-1 h3{
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}
.section-2 h1{
  font-size: 3.4rem;
}
.section-4 h1{
  font-size: 3.4rem;
}
.section-3 h1{
 margin-top: 6rem;
 font-size: 3.4rem;
}
.section-1 h5{
  color: white;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

form {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1.3rem;
}
.get-started {
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.7rem;
  margin: 0;
  height: 100%;
  padding-right: 1.9rem;
  padding-left: 1.9rem;
  margin-left: -10px;
}
form, .get-started {
    height: 56px;
  }

.email {
 width: 30rem;
  height: 3.5rem;
  padding: 0.19rem;

}
::placeholder{
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 0.6rem;
}

.section-2, .section-3, .section-4, .section-5 {
  background-color: black;
   border-bottom: 8px solid rgb(34,34,34);
   color: white;
}
.section-6, .section-7{
  background-color: black;
}
.section-2{
  width: 100%;
  height: 80vh;
}
.section-2 h1, h3{
  text-align: left;
  margin-left: 4.5rem;
}
.enjoy-tv{
  margin-top: 7rem;
}
.tv-image{
  margin-left: 4rem;
    position: relative;
    width: 37rem;
}
.video{
  width: 55%;
   height: 55%;
  position: absolute;
  left: 9.3rem;
  bottom:7rem;
}
.grid-item{
  position: relative;
}
.mobile-image{
  width: 0.6rem;
}
.section-3 h1, h3{
  text-align: left;
   margin-left: 4rem;
}
.section-4 h1, h3{
  text-align: left;
   margin-left: 4rem;

}
.section-5 h1, h3{
  text-align: left;
   margin-left: 4rem;
   color: white;
}
.section-5 h1{ 
  margin-top: 6rem;
  font-size: 3.4rem;
}
.section-6 h1{ 
  font-size: 3.4rem;
  padding-top: 2.3rem;
  background-color: black;
  color: white;
}

.grid-container {
  display: grid; /* sets the container as a grid */
  grid-template-columns: repeat(2, 1fr); /* creates two columns of equal width */
  grid-gap: 0.6rem; /* adds a gap of 10px between the items */
padding: 3rem;
}
.accordion{
    margin: 4rem auto;
    width: 100%;
    max-width: 48.8rem;
    color: white;
}

.accordion ul{
    list-style: none;
    width: 100%;
    padding: 0.3rem;
}

.accordion ul label{
    display: flex;
    align-items: center;
    padding: 1.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}

label::after{
    content: '+';
    font-size: 2rem;
    position: absolute;
    right: 1.3rem;
    transition: transform 0.5s;
    color: #fff;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 1.3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 37.5rem;
    padding: 2rem 1.3rem;

}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}



.neww{
  padding-top: 4rem;
background-color: black;
 padding-bottom: 5rem;
   border-bottom: 8px solid rgb(34,34,34);
   color: white;
}
.section-7 p{
  font-weight: 300;
}

.footer{
    padding: 50px 15% 10px;
    color: #777;

}

.footer h2{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1.9rem;
}

.footer .column{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 1.3rem;
}

.footer .column a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 0.6rem;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media(max-width: 900px) {
  body{  
    border-color: blue;
  }
}
