.section-1 {
  margin-top: -8px;
  margin-left: -8px;
  padding-right: 20px;
  width: 100%;
  height: 100vh;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("./images/hero.jpg");
  background-size: cover;
  display: block;
  border-bottom: 8px solid rgb(34,34,34);
}
.header {
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 120px;
}
#netflix-logo {
  fill: #e50914;
  line-height: normal;
}

.sign-in {
  color: #fff;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e50914;
  float: right;
  border: red;
  border-radius: 3px;
  line-height: normal;
  padding: 7px 17px;
}

h1,
h3,
h5 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  text-align: center;
  color: #fff;
 
}
h1 {
  font-size: 53px;
  font-family: Netflix Sans, Helvetica Neue, sans-serif;
  line-height: 55px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 28px;
  margin-top: -20px;
}

h5 {
  font-size: 19.2px;
  font-weight: 500;
}
form {
  text-align: center;
  font-size: 26px;
  margin-top: -32px;
  
}
.get-started {
  background-color: #e50914;
  color: #fff;
  border-color: #e50914;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  margin-top: 25px;
  margin-left: -6px;
  margin-bottom:  30px;
  padding-bottom: 10px;
  padding: 16px;
  padding-right: 30px;  
}

.email {
  width: 480px;
  height: 56px;
  padding-top: 3px;
}
::placeholder{
  font-weight: 600;
  font-size: 17px;
  padding-left: 10px;
}

.section-2, .section-3, .section-4, .section-5, .section-6, .section-7{
  background-color: black;
   border-bottom: 8px solid rgb(34,34,34);
   
}
.section-2{
  width: 100%;
  height: 80vh;
}
.enjoy-tv{
  margin-top: 110px;
}
.grid-container {
  display: grid; /* sets the container as a grid */
  grid-template-columns: repeat(2, 1fr); /* creates two columns of equal width */
  grid-gap: 10px; /* adds a gap of 10px between the items */
padding: 50px;
}
